/**
* Accordeon
*/

.accordeon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    border: 1px solid white;
    border-radius: 8px;   
}

details {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: auto;
    padding: 10px;
    max-width: 350px;
    transition: max-width 0.3s ease-in-out;
}

details[open] {
    margin-right: 0;
    width: 300px;
}